.chips-hawa-ltp-img-line{
  position: relative;
}

.chips-hawa-ltp-img-line::after{
  content: ' ';
  background: red;
  height: 2px;
  position: absolute;
  z-index: 10000;
  top: 9px;
  left: 0;
  right: 0;
  bottom: 0;
}

.chips-hawa-sr-cell{
  background-color: #3e5bd880 !important;
}